version: '3.8'
services:
  aniworld:
    container_name: aniworld-downloader
    image: phoenixthrush/aniworld-downloader
    ports:
      - "8080:8080"
    volumes:
      - ./downloads:/app/downloads
      - ./data:/app/data
    tty: true
    restart: unless-stopped