include src/aniworld/web/templates/index.html
include src/aniworld/web/templates/login.html
include src/aniworld/web/templates/settings.html
include src/aniworld/web/templates/setup.html
include src/aniworld/web/static/css/style.css
include src/aniworld/web/static/js/app.js
