# AniWorld Downloader - Requirements
# Install with: python3 -m pip install -r .\requirements.txt
 
# Core dependencies
requests
bs4
yt-dlp
npyscreen
tqdm
fake_useragent
packaging
windows-curses
winfcntl
jsbeautifier
flask
ffmpeg
py-cpuinfo
 
# Optional: Chromecast support
# pychromecast
